.container {
  max-width: 99%;
  margin: 40px auto;
  font-family: Arial;
}

.text-area {
  width: -webkit-fill-available;
  padding: 10px;
  min-height: 200px;
}

.send-btn {
  padding: 5px 20px;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: transparent;
}

.active-btn {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.disabled-btn {
  background-color: #e0e0e0;
  color: #a0a0a0;
  border-color: #e0e0e0;
  cursor: not-allowed;
}
